HELP.md
.gradle
build/
!**/src/main/**
!**/src/test/**
src/main/resources/application-oauth.yml
src/main/resources/application-oauth2.yml
src/main/resources/application-real-db.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
gradle/
src/test/resources/
src/test/java/
